# Ignora qualquer pasta chamada 'cache' em qualquer nível
**/cache/
cache/

# Ignora qualquer pasta chamada 'saves' em qualquer nível
**/saves/
saves/

# Ignora todos os arquivos que terminam com .rpyc em qualquer pasta
*.rpyc
**/*.rpyc
